body{
    background-color: pink;
    color: darkmagenta;
}

h1{
    font-size:36px;
    color:white;
    text-align:center;
}

h2{
    color:navy;
    text-decoration:underline;
    font-style: italic;
    font-weight: bold;

}

p{
    font: size 25px;
    
}

#rawr{
    color: brown;
}

.pretty{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.common{
    background-color: blueviolet;
    border: 2px solid white;
    position: absolute;
}

.left{
    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40px;
}

.main{
    top: 155px;
    left: 130px;
    right: 140px;
    bottom: 40px;
}

.right{ 
    top: 115px;
    right: 25px;
    width: 100px;
    height: 100px;
}

.footer{
    bottom: 30px;
    height: 25px;
    left: 15px;
    right: 25px;
    position: fixed;
    background-color: blueviolet;
    border: 2px solid white;
}

.header{
    z-index: 5;
}



.redtext{
    color:red;
}